.card {
  height: 577px;
  width: 464px;
  border: 1px solid #c3c3c3;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 80px;

  &__title {
    color: #898583;
    font-size: 24px;
    font-weight: 700;
    max-width: 274px;
    text-align: center;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #f9c23c;
  }
  &__icon {
    border-radius: 100%;
    background-color: #f0e7e7;
    padding: 10px;
    &:hover {
      background-color: #D6F3DC;
      border: 1px solid #1D9A39;
    }

    &--selected {
      background-color: #D6F3DC;
      border: 1px solid #1D9A39;
    }
  }

  &__msg {
    text-align: center;
    &.happy {
      // border: 1px solid #1D9A39;
      color: #1D9A39
     }
     &.sad {
      // border: 1px solid #FB9635;
      color: #FB9635
     }
     &.angry {
      // border: 1px solid #F94747;
      color: #F94747
     }
  }
}

.button {
  padding: 20px 40px;
  background-color: #120c35;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &--secondary {
    background-color: red;
  }

  &:disabled {
    background-color: #efeeee;
    color: darkgray;
    cursor: not-allowed;
  }
}
.render {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 577px;

  &__title {
    color: #35100c;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__history{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: gray
  }
}
